body {
  font-family: sans-serif;
  margin:1vw;
}

#header {
  padding:3vw 3vw 1vw 3vw;
}

input {
  border-radius: 3px;
  border: 1px solid #aaa;
}

#main{
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  background-color: #ddddff
}

#game {
  margin: auto;
  width: 98%;
  height: 310px;
}

.wrapper {
  float: left;
  width: calc(100% / 3);
  min-height: 20px;
}

.pane {
  position: relative;
  height: 300px;
  margin: 0 3%;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.tower {
  position: absolute;
  bottom: 0 ;
  width: 100%;
}

.disk {
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  height: 30px;
  margin: auto
}

.selected {
  border: 2px dashed black;
  opacity: 0.5;
}
